# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Guest\IdeaProjects\studentExamlpe\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/uiDesigner.xml
/.idea/vcs.xml
*.idea
*.iml
studentExamlpe.iml

/vcs.xml
/misc.xml
/jarRepositories.xml
/compiler.xml
